*.ipynb 
# Ignore Python bytecode cache directories everywhere
__pycache__/
**/__pycache__/
# Ignore Python virtual environment directories everywhere
venv/
**/venv/
.env/
**/.env/
*.parquet
*.dxf
*.svg 